                     **Python Basics Questions**

Q1. What is Python, and why is it popular ?

ans--> Python is a high-level, interpreted, general purpose programming language known for simplicity, readability and versatility

Here are some key features of python:
1. Easy to use and learn ()
2. interpreted language (source code will execute directly line by line instead of compile into machine code )
3. Dynamic typed (no need to define the type of data python will understand automaticaly)
4. it has rich libreries(python has huge no of libraries )
5. it supports cross-platform(windows, linux , macOS etc)
6. Object oriented programming (python treatevery thing as an object) etc.

Q2.  What is an interpreter in Python ?

Ans-->Python interpreter execute the source code directly line by line instead of compile into machine code

Q3. What are pre-defined keywords in Python ?

Ans--> Pre-defined keywords in python has special meaning and you cannot use them as variable name, function name or identifiers.

Q4. Can keywords be used as variable names ?

Ans--> NO, Every Keywords has some special meaning you cannot use them as variable name (Variable name can starts with alphbet and underscore _ only)

Q5. What is mutability in Python ?

Ans--> Mutability means you can change the value after creation exp- list (list is mutable that can be change after creation but in Tuple you cannot change the value after creation it will throw an error)

Q6.Why are lists mutable, but tuples are immutable ?

Ans--> list are mutable beacause :- list are designed to store and modify data you can perform operation like adding,removing and updating the data

and Tuple is immutable beacause:- Tuple is designed to work with fixed data where no changes are expected.

Q.7 What is the difference between “==” and “is” operators in Python ?

Ans--> == is a comparison Operator which is use to compare the value of two variable and "is" is a identity operator it will return true when two variable are refering to the same mamory location

Q.8 What are logical operators in Python ?

Ans--> logical operator are use to perform boolean logic operations combining multiple conditions and returning true or False based on the logic applied.

and = Return true if both condition will be true.
or = return true if atleast one condition will be true.
not = reverse the result true become false

Q.9 What is type casting in Python ?

Ans--> Type casting is a process in python to convert one data type into another data type there are two way to do this:-
1. Implicit type casting
2. Explicit type casting

Q.10 What is the difference between implicit and explicit type casting ?

Ans--> Implicit :- python will automatically convert lower data type into higher data type to avoid data losses.
explicit :- User/Developer  will convert nammualy or forcefully one data type into another data type using built-in functions . like int(),float(), str,tuple dict

Q.11 What is the purpose of conditional statements in Python ?

Ans--> Conditional statement in python are use to make decision in your program it allow your code to take different actions based on different conditions
purpose:-
To control the flow of code
to execute certain block of code only when specific conditons is met.

Q.12 How does the elif statement work ?

Ans--> elif (short of else if ) statement it will come after if block, or before else block and check the condition if true it will excute the block of code

Q.13 What is the difference between for and while loops ?

Ans--> for loop is use to iterate over the number of sequence(like list, string,range)
and whilw loop is a machenism to perform a specific task until a particualer condition will be true.

Q.14 Describe a scenario where a while loop is more suitable than a for loop?

Ans--> while loop is better when you dont know how many times to loop for example looping until condition is met(monitoring, login, games)

In [ ]:
#Q1
print("Hello, World!")

Hello, World!

In [ ]:
#Q2
name=input("Enter your name : ")
age=int(input("Enter your age "))
print("Name :",name ,"and age:",age)

Enter your name : Rehan
Enter your age 25
Name : Rehan and age: 25

In [ ]:
#Q3
import keyword
keyword=keyword.kwlist
for key in keyword:
    print(key)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [ ]:
#Q4
key=input("Enter the keys: ")
if key in keyword:
    print("yes")

Enter the keys: a

In [ ]:
#Q5
l=[1,2,3,4,5,6,7]
t=(1,2,3,4,5,6,7)
l[1]=10
print(l)

[1, 10, 3, 4, 5, 6, 7]

In [ ]:
t=(1,2,3,4,5,6,7)
t[1]=10
print(t)

TypeError: 'tuple' object does not support item assignment

In [ ]:
num1=int(input("Enter a number : "))
num2=int(input("Enter 2nd number : "))
add=num1+num2
sub=num1-num2
multi=num1*num2
div=num1/num2
mod=num1%num2
floor=num1//num2

print(add)
print(sub)
print(multi)
print(div)
print(mod)
print(floor)

Enter a number : 10
Enter 2nd number : 2
12
8
20
5.0
0
5

In [ ]:
#Logical operator and or and not
a=10
b=20
#and Operator
print(a>5 and b>5)
print(a>5 and b>25)
print(a>20 and b>15)
print(a>15 and b>25)

# or operator
print("=========Or=======")
print(a>5 or b>5)
print(a>5 or b>25)
print(a>20 or b>15)
print(a>15 or b>25)

print("=======Not========")
print(not a)
print(not b)

True
False
False
False
=========Or=======
True
True
True
False
=======Not========
False
False

In [ ]:
a=input("Enter the value : ")
#this is the example of explicit type casting
#explicit type casting means user or developer will convert mannualy or forcefully one dataa type to another data type
inter=int(a)
print(inter)
flo=float(a)
print(flo)
b=bool(a)
print(b)

#this is the examlple of implicit type casting
#implicit type casting means python will automatically convert lower data type to higher data type to avoid data losses
print("==================")
a=5
b=10.5
add=a+b
print(add)
print(type(add))

Enter the value : 5
5
5.0
True
==================
15.5
<class 'float'>

In [ ]:
num=int(input("Enter the number : "))
if num==0:
    print("Number is zero ")
elif(num>0):
    print("given no is Positive ")
else:
    print("Given number is Negative")

Enter the number : 5
given no is Positive

In [ ]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Q13
sum=0
for num in range(1,51):
    if num%2==0:
        sum+=num
        print(num)
print("Sum of even no is :",sum)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
Sum of even no is : 650

In [ ]:
#Q14
str="Hello World"
rev_str=""
index=len(str)-1
while index >=0:
    rev_str+=str[index]
    index-=1

print(rev_str)

dlroW olleH

In [ ]:
#Q15
fact=1
num=int(input("Enter the value : "))
while num>0:
    fact=fact*num
    num-=1
print(fact)

Enter the value : 7
5040