Q1. What are data structures, and why are they important?
Ans--> Data Structure is a specialized way of organising , managing, and storing the data that can be used efficiently.
there are two type of data structure:
1. linear data structure(like- array,linkedlist,stack,queue)
2. Non-linear data structure(like- tree and graph)

Q2.Explain the difference between mutable and immutable data types with examples?
Ans--> mutable means it can be chage after creation(like- list is mutable data type that allows value assignments)
Immutable means it cann't be change after creation(like- tuple is immutable data type that doesn't allow value assignment)

Q3. What are the main differences between lists and tuples in Python?
Ans--> The main difference between list and tuple is
1. list is mutable and tuple is immutable.
2. list use square brackets [] and tuple use paranthesis().
3. list is slower the tuple due to its dynamic nature.

Q4. Describe how dictionaries store data?
Ans--> Dictionary is a build-in data structure in python that store data in the form of key pair value like key:value it define useing curly braces {}

Q5. Why might you use a set instead of a list in Python?
Ans--> set is unordered collection of unique element and list is ordered collection of different datatype which can contain duplicate elements. when need t work with uniqe element where we can use set instead of list.

Q6. What is a string in Python, and how is it different from a list?
Ans--> string ia an immutable sequence of character and list is mutable sequence of different data type

Q7. How do tuples ensure data integrity in Python?
Ans-->tuple ensure data integrity by being immutable, resistant to accidental change, safe to hash making them for storing fixed and unchangeble data

Q8. What is a hash table, and how does it relate to dictionaries in Python?
Ans-->A hash table is a data structure that stores key-value pairs. It uses a process called hashing to compute an index (called a hash code) from the key

It allows dictionaries to store and retrieve key-value pairs efficiently using hashing.

Q9. Can lists contain different data types in Python?
Ans--> yes list can store any data type. it is hetrogeneous

Q10. Explain why strings are immutable in Python?
Ans--> Strings are immutable in Python to support memory efficiency, hashability, program safety, and performance. Any change to a string results in the creation of a new string object.

Q11. What advantages do dictionaries offer over lists for certain tasks ?
Ans-->Dictionaries offer faster access, better readability, and more flexibility than lists, especially when working with named, structured data where you need to map keys to values.

Q12.Describe a scenario where using a tuple would be preferable over a list?
Ans--> as we know that tuple is immutable that cann't be changed and list is mutable that can be changed tuple would be more preferable where we want to store fixed data and unchangeble data that should remain constant through out the program

Q13. How do sets handle duplicate values in Python?
Ans--> Set is a unordered ,mutable collecton of unique elements. it atomatically filter the unique elements

Q14.  How does the “in” keyword work differently for lists and dictionaries?
Ans--> in keyword is a membership operator it is uses to check data is existance in list and in dictonary it is use to check key existance not value

Q15. Can you modify the elements of a tuple? Explain why or why not?
Ans--> No we can not modify the elemets in tuple beacuse it is immutable

Q16.What is a nested dictionary, and give an example of its use case?
Ans--> Nasted dictionary means dictionary inside dictionary like value itself would be a dictionary for example
d={"Alice": {"class": 5,"Grade": "A"}

Q17.Describe the time complexity of accessing elements in a dictionary?
Ans--> time complexity of accessing elements in dictionary is
average time complexity is O(1)
Worst time complexity is O(n)

Q18.  In what situations are lists preferred over dictionaries ?
Ans-->While both lists and dictionaries store collections of data, lists are preferred in situations where:
1. Ordered of element matters
2. data is a simple sequence
3. Index based access
4. duplicates are allowed

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans--> Dictionaries are considered unordered because they are designed for key-based access, not index-based access. This makes data retrieval fast and flexible, but not dependent on the order of insertion.

Q20.Explain the difference between a list and a dictionary in terms of data retrieval ?
Ans-->
1. list is desined index based access and dictionary is desined key based access
2. syntex of list is list[0] and syntex of dictionary is dict['key']
3. list is slower it follow O(n) and dictionary is faster beacause it follow O(1).

In [ ]:
#Q1.Write a code to create a string with your name and print it?
s="Hi, I am Rehan and i am learning Data Analytics from Pwskills"
s

'Hi, I am Rehan and i am learning Data Analytics from Pwskills'

In [ ]:
#Q2.Write a code to find the length of the string "Hello World"?
s="Hello World"
len(s)

11

In [ ]:
#Q3.Write a code to slice the first 3 characters from the string "Python Programming"?
s="Python Programming"
s[:3]

'Pyt'

In [ ]:
#Q4. Write a code to convert the string "hello" to uppercase?
s="hello"
s.upper()

'HELLO'

In [ ]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
s="I like apple"
s.replace("apple","Orange")

'I like Orange'

In [ ]:
#Q6.Write a code to create a list with numbers 1 to 5 and print it?
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [ ]:
#Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]?
l=[1,2,3,4]
l.append(10)
l

[1, 2, 3, 4, 10]

In [ ]:
#Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
l=[1,2,3,4,5]
l.remove(3)
l

[1, 2, 4, 5]

In [ ]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a','b','c','d']
l[1]

'b'

In [ ]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50]
l = [10, 20, 30, 40, 50]
l.reverse()
l

[50, 40, 30, 20, 10]

In [ ]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it?
t=(100,200,300)
print(type(t))
t

<class 'tuple'>

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
t=('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

In [ ]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
min(t)

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
t.index("cat")

1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t=("apple","banana","kiwi","mango")
"kiwi" in t

True

In [ ]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?
s={'a','b','c'}
print(type(s))
s

<class 'set'>

{'a', 'b', 'c'}

In [ ]:
#Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1, 2, 3, 4, 5}
s.clear()
s

set()

In [ ]:
#Q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1,2,3,4}
s.remove(4)
s

{1, 2, 3}

In [ ]:
#Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [ ]:
#Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
s1={1,2,3}
s2={2,3,4}
s1&s2

{2, 3}

In [ ]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={"name":"Rehan", "age":25, "city":"delhi"}
d

{'name': 'Rehan', 'age': 25, 'city': 'delhi'}

In [ ]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d={'name': 'John', 'age': 25}
d["country"] = "USA"
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d = {'name': 'Alice', 'age': 30}
d["name"]

'Alice'

In [ ]:
#Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
d

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
if "city" in d:
    print("yes")

yes

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
l=[46,94,72,84,38]
l.sort(reverse=False)
l

[38, 46, 72, 84, 94]

In [ ]:
#Q28  Write a code to create a list with strings and print the element at the third index.
l=["apple","banana","mango","kiwi","lichi"]
l[2]

'mango'

In [ ]:
#Q29 Write a code to combine two dictionaries into one and print the result.
d1 = {"name":"Rehan","age": 25}
d2 = {"city": "delhi", "Office": "Noida"}
d1.update(d2)
d1

{'name': 'Rehan', 'age': 25, 'city': 'delhi', 'Office': 'Noida'}

In [ ]:
#Q30 Write a code to convert a list of strings into a set?
l=["apple","banana","mango","kiwi","lichi"]
set(l)

{'apple', 'banana', 'kiwi', 'lichi', 'mango'}